<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="shortcut icon" href="./src/img/favicon" type="image/x-icon"> -->
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <% if (htmlWebpackPlugin.options.appMountId) { %>
      <div id ="<%= htmlWebpackPlugin.options.appMountId%>"</div>
    <% } %>
  </body>
</html>
